body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

/* Header */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  z-index: 1000;
  overflow: hidden;
  background-color: #282e34;
  padding: 10px;
}

nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  list-style: none;
  justify-content: center;
  align-items: center;
}
nav ul li a {
  margin: 0 15px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2px;
  padding: 0px 15px;

}

nav ul ul{
	position: relative;
	width: 100px;
	padding: 10px;	
}

.active-btn,
ul li a:hover {
  background-color: #9c9c9c;
  padding: 10px;
}

.container{
  vertical-align: middle;
  width: 50%;
  padding-left: 500px;
}

h2{
  font: 35px "Lato", sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  color: #111;
  text-transform: uppercase;
  padding-top: 80px;
  padding-bottom: 0px;

}
h3{
  font: 35px "Lato", sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  color: #111;
  text-transform: uppercase;
  padding-bottom: 0px;
  /* margin:30px 50px 0px 50px; */
}
h4{
  font: 20px "Lato", sans-serif;
  font-weight: bold;
  color: #111;
  text-transform: uppercase;
  padding-bottom: 0px;
}
p {
  color: #222;
}

figure{
  align-items: center;
  text-align: center;
}






